/****************** Layout  ******************/
/****HEADER****/
.box-text {
    margin-top: 7px;
}
/****KEY SKILLS****/
td.skills-title {
    position: relative;
    left: 10px;
}
td.skills-row {
    border-collapse: collapse;
    border-bottom: 0;
}
/*****COURSEWORK****/
ul.courses li {
    list-style-type: none;
}
/*****WORK*****/
td.job-title {
    position: relative;
    left: 10px;
}
/*****FOOTER*****/
.footer-box {
    margin-bottom: 20px;
    margin-left: 20px;
}

/****************** Media Queries ******************/
/* Larger than tablet */
@media (min-width: 750px) {
    span.education-year {
        position: relative;
        left: 20px;
    }
}
/* All portrait devices */
@media (orientation: portrait) {
    header.contact-me, section.education, section.skills, section.coursework, section.work, h2#projects-h {
        text-align: center;
    }
    table#skills-table td.skills-list {
        text-align: left;
    }
    table#work-table {
        margin: 0px auto;
    }
    ul.project-list {
        text-align: left;
    }
}
