@import url('http://fonts.googleapis.com/css?family=Enriqueta');
/****************** Typography and Color ******************/
::-moz-selection {
    color: #bfb585;
}
::selection {
    color: #bfb585;
}
body {
    background: #f9f9f5;
}
/****HEADER****/
h1.name {
    color: #605833;
    font-family: Georgia, arial, serif;
    font-size: 38px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
}
.header-box {
    background: #605833;
    height: 30px;
    position: relative;
    margin: -10px 5px 10px 5px;
}
a.cm-links {
    color: #f9f9f5;
    font-family: 'Enriqueta', arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 18px;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
}
/****EDUCATION****/
h2#education-h {
    color: #92864d;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 28px;
}
p.education-listing {
    color: #605833;
    font-family: 'Enriqueta', arial, sans-serif;
    font-size: 18px;
    line-height: 40px;
}
/****KEY SKILLS****/
h2#skills-h {
    color: #92864d;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 28px;
}
td.skills-title {
    color: #605833;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
}
td.skills-list {
    color: #605833;
    font-family: 'Enriqueta', arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
/*****COURSEWORK*****/
h2#coursework-h {
    color: #92864d;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 28px;
}
ul.courses {
    color: #605833;
    font-family: 'Enriqueta', arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/*****WORK*****/
h2#work-h {
    color: #92864d;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 28px;
}
table#work-table {
    color: #605833;
    font-family: 'Enriqueta', arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/*****RESEARCH*****/
h2#projects-h {
    color: #92864d;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 28px;
}
ul.project-list {
    color: #605833;
    font-family: 'Enriqueta', arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
/*****FOOTER*****/
.footer-box {
    background: rgba(191,181,133,.2);
    color: #605833;
    font-family: Georgia, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}
/****************** UI/UX  ******************/
/*****HEADER*****/
.header-box {
    border-radius: 2px;
    transition: 0.25s ease-in-out;
}
.header-box:hover {
    background-color: #92864d;
    text-decoration: underline;
}
/*****KEY SKILLS*****/
table#skill-table tbody tr {
    transition: 0.5s ease-in-out;
}
table#skill-table tbody tr:hover {
    background: rgba(191,181,133,.2);
}
/*****WORK*****/
table#work-table tbody tr.job-description {
    transition: 0.5s ease-in-out;
}
table#work-table tbody tr.job-description:hover {
    background: rgba(191,181,133,.2);
}
/*****RESEARCH*****/
li.project-description {
    transition: 0.5s ease-in-out;
}
li.project-description:hover {
    background: rgba(191,181,133,.2);
}
/*****FOOTER*****/
.footer-box p {
    border-top: 1px dashed #70673b;
    border-bottom: 1px dashed #70673b;
}