/****************** Typography AND COLOR ******************/
body {
    background: #fefad7;
}
/****HEADER****/
header h1.name {
    color: #7c795d;
    font-family: 'Nixie One', cursive;
    font-size: 50px;
    font-weight: normal;
    line-height: 1.1;
    text-align: center;
}
header .cm-links a {
    color: #ff9900;
    background: #fff4a3;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
header .cm-links a:hover {
    color: #ffcc66;
}
/****EDUCATION****/
section.education h2#education-h {
    color: #7c795d;
    font-family: 'Nixie One', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
section.education p {
    color: #4c4a37;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    line-height: 40px;
}
/****KEY SKILLS****/
section.skills h2#skills-h {
    color: #7c795d;
    font-family: 'Nixie One', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
section.skills p.ks-title {
    color: #4c4a37;
    font-family: 'Nixie One', cursive;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
}
section.skills p.ks-list {
    color: #4c4a37;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/*****COURSEWORK*****/
section.coursework h2#coursework-h {
    color: #7c795d;
    font-family: 'Nixie One', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
section.coursework ul.courses {
    color: #4c4a37;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/*****WORK*****/
section.work h2#work-h {
    color: #7c795d;
    font-family: 'Nixie One', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
section.work table {
    color: #4c4a37;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/*****RESEARCH*****/
section.projects h2#projects-h {
    color: #7c795d;
    font-family: 'Nixie One', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
section.projects ul.project-list {
    color: #4c4a37;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/*****FOOTER*****/
footer {
    color: #ffcc66;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
}
/****************** Layout ******************/

/*****HEADER*****/
header h1.name {

}
header .cm-links {
    
}
/*****EDUCATION*****/

/*****KEY SKILLS*****/

/*****COURSEWORK*****/

/*****WORK*****/

/*****RESEARCH*****/

/*****FOOTER*****/

/* UI-elements */


/* Media Queries */ 