/****************** Typography and Color ******************/
body {
    background: #fefad7;
}
/****HEADER****/
h1.name {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 50px;
    font-weight: normal;
    line-height: 1.1;
    text-align: center;
}
a.cm-links {
    color: #ff9900;
    background: #fff4a3;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
}
/****EDUCATION****/
h2#education-h {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
p.education-listing {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 40px;
}
/****KEY SKILLS****/
h2#skills-h {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
td.skills-title {
    color: #4c4a37;
    font-family: 'Trocchi', cursive;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
}
td.skills-list {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
/*****COURSEWORK*****/
h2#coursework-h {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
ul.courses {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/*****WORK*****/
h2#work-h {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
table#work-table {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
/*****RESEARCH*****/
h2#projects-h {
    color: #7c795d;
    font-family: 'Trocchi', cursive;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.1;
}
ul.project-list {
    color: #4c4a37;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
/*****FOOTER*****/
.footer-box {
    background: #fff4a3;
    color: #4c4a37;
    font-family: 'Trocchi', cursive;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
}
/****************** Layout  ******************/
/****HEADER****/
a.cm-links .box-link {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
}
/*****KEY SKILLS*****/
td.skills-title {
    position: relative;
    left: 10px;
}
td.skills-row {
    border-collapse: collapse;
    border-bottom: 0;
}
/*****COURSEWORK*****/
ul.courses li {
    list-style-type: none;
}
/*****WORK*****/
td.job-title {
    position: relative;
    left: 10px;
}
/*****FOOTER*****/
.footer-box {
    margin-bottom: 20px;
    margin-left: 20px;
}
/****************** UI/UX  ******************/
/*****HEADER*****/
a.cm-links {
    transition: 0.5s ease-in-out;
}
a.cm-links:hover {
    color: #ffcc66;
}
/*****KEY SKILLS*****/
table#skill-table tbody tr {
    transition: 0.5s ease-in-out;
}
table#skill-table tbody tr:hover {
    background: #fff4a3;
}
/*****WORK*****/
table#work-table tbody tr.job-description {
    transition: 0.5s ease-in-out;
}
table#work-table tbody tr.job-description:hover {
    background: #fff4a3;
}
/*****RESEARCH*****/
li.project-description {
    transition: 0.5s ease-in-out;
}
li.project-description:hover {
    background: #fff4a3;
}
/****************** Media Queries ******************/
/* Larger than tablet */
@media (min-width: 750px) {
    span.education-year {
        position: relative;
        left: 20px;
    }
}
/* All portrait devices */
@media (orientation: portrait) {
    header.contact-me, section.education, section.skills, section.coursework, section.work, h2#projects-h {
        text-align: center;
    }
    .header-box {
        background: #fff4a3;
        height: 30px;
        position: relative;
        margin: 5px 0 5px 0;
    }
    table#skills-table td.skills-list {
        text-align: left;
    }
    table#work-table {
        margin: 0px auto;
    }
    ul.project-list {
        text-align: left;
    }
}
