@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed|Open+Sans');
/****************** Typography and Color ******************/
::-moz-selection {
    background-color: #d3d3d3;
    color: #ffffff;
}
::selection {
    background-color: #d3d3d3;
    color: #ffffff;
}
body {
    background: #fdfdfd;
}
/****HEADER****/
h1.name {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -5px;
}
.header-box {
    background: #111;
    height: 30px;
    position: relative;
    margin: 5px 5px 5px 5px;
}
a.cm-links {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
/****EDUCATION****/
h2#education-h {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}
p.education-listing {
    color: #111;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 40px;
}
/****KEY SKILLS****/
h2#skills-h {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}
td.skills-title {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
}
td.skills-list {
    color: #111;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}
/*****COURSEWORK*****/
h2#coursework-h {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}
ul.courses {
    color: #111;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
}
/*****WORK*****/
h2#work-h {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}
table#work-table {
    color: #111;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
}
/*****PROJECT EXPERIENCE*****/
h2#projects-h {
    color: #111;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}
ul.project-list {
    color: #111;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    text-align: left;
}
span.project-title {
    font-weight: 900;
}
/*****FOOTER*****/
.footer-box {
    background: #990000;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 1.2;
    padding-top: 3px;
    text-align: center;
    text-transform: uppercase;
}
/****************** UI/UX  ******************/
/*****HEADER*****/
.header-box {
    transition: all 0.2s ease-in-out;
}
.header-box:hover, .header-box:focus {
    background-color: #990000;
    text-decoration: underline;
    border-radius: 8px;
    outline: none;
}
a.cm-links {
    transition: all 0.2s ease-in-out;
}
a.cm-links:hover, a.cm-links:focus {
    text-decoration: underline;
    outline: none;
}